{% extends "patient/base.html" %}

{% block content %}
<h2>Mon Profil</h2>
{% if is_patient %}
<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_date_of_birth">Date of Birth:</label>
        {{ form.date_of_birth }}
    </div>
    <div>
        <label for="id_address">Address:</label>
        {{ form.address }}
    </div>
    <div>
        <label for="id_medical_history">Medical History:</label>
        {{ form.medical_history }}
    </div>
    <div>
        <label for="id_email">Email:</label>
        {{ form.email }}
    </div>
    <div>
        <label for="id_MRN">MRN:</label>
        {{ form.MRN }}
    </div>
    <button type="submit">Enregistrer les modifications</button>
</form>
{% else %}
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
{% endif %}
{% endblock %}